.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  /* width: 100%;
  height: 100%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}
.ModalImg {
  max-width: 70%;
  max-height: 80%;
  margin: auto;
}
